[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
tensorflow = "*"
keras = "*"

[requires]
python_version = "3.6"

[scripts]
sample = 'python ./src/sample/sample.py'
demo = 'python ./src/sample/demo.py'